click==8.1.8
iniconfig==2.1.0
-e git+https://github.com/StudentVlad5/Python-Programming-Foundations-and-Best-Practices.git@633268d2ee2e88861eb148a614ab01118815a165#egg=main_project
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
pluggy==1.5.0
polib==1.2.0
prompt_toolkit==3.0.50
Pygments==2.19.1
pytest==8.3.5
rich==14.0.0
setuptools==78.1.0
wcwidth==0.2.13
